{% extends 'base.html' %}

{% block title %}Teacher Dashboard{% endblock %}
{% block header %}Teacher Dashboard{% endblock %}

{% block content %}
<h2>Welcome {{ request.user.username }}</h2>

<h3>Select Subject</h3>

<form method="get">
    <select name="subject_id" required>
        <option value="">-- Select Subject --</option>
        {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit" formaction="{% url 'start_attendance' %}">
        🎥 Start Attendance
    </button>

    <button type="submit" formaction="{% url 'save_attendance' 0 %}">
        💾 Save Attendance
    </button>
</form>

{% endblock %}
