<h2>Manage Timetable</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>

<hr>

<h3>Your Timetable</h3>

<table border="1">
    <tr>
        <th>Subject</th>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    {% for t in timetables %}
    <tr>
        <td>{{ t.subject.name }}</td>
        <td>{{ t.day }}</td>
        <td>{{ t.start_time }}</td>
        <td>{{ t.end_time }}</td>
    </tr>
    {% endfor %}
</table>
