{% extends 'base.html' %}
{% load timetable_extra %}

{% block title %}Timetable{% endblock %}
{% block header %}College Timetable{% endblock %}

{% block content %}

<div class="timetable-container">

    <table class="timetable-table">
        <thead>
            <tr>
                <th>Time</th>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for time, row in timetable.items %}
            <tr>
                <td class="time-col">
                    {{ time.0 }} - {{ time.1 }}
                </td>

                {% for day in days %}
                <td>
                    {% if row|get_item:day %}
                        <div class="subject-box">
                            <strong>{{ row|get_item:day.subject.name }}</strong><br>
                            <small>{{ row|get_item:day.teacher.user.username }}</small>
                        </div>
                    {% else %}
                        -
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}

