Django
gunicorn
psycopg2-binary
dj-database-url
django_apscheduler
whitenoise
reportlab==4.0.9
matplotlib
apscheduler
opencv-python
face_recognition
numpy
pandas
scikit-learn
joblib
qrcode
openpyxl
