{% extends "base.html" %}

{% block title %}Password Changed{% endblock %}
{% block header %}Password Updated{% endblock %}

{% block content %}
<div class="card profile-card center">

    <h3 style="margin-bottom: 10px;">
        <i class="fa-solid fa-circle-check" style="color:#16a34a;"></i>
        Password Changed Successfully
    </h3>

    <p class="muted" style="margin-bottom: 25px;">
        Your password has been updated. Please use the new password next time you log in.
    </p>

    <a href="/" class="btn primary">
        Go to Dashboard
    </a>

</div>
{% endblock %}
