<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Smart Attendance{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Smart Attendance</h2>
        <ul>
            <li><a href="/students/dashboard/">Student Dashboard</a></li>
            <li><a href="/teachers/dashboard/">Teacher Dashboard</a></li>
            <li><a href="/teachers/dashboard/">Attendance</a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
        <header class="topbar">
            <h3>{% block header %}{% endblock %}</h3>
        </header>

        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </main>

</div>

</body>
</html>
